@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=PT+Sans+Narrow:wght@700&family=Raleway:wght@900&display=swap");

* {
	position:relative;
}


body {
  background-color:#3c3c3c;
  overflow: hidden;
  text-align:center;
	font-family:sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1 {
	color:#ccc;
	text-align:center;
}

.main {
	width:100%;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
}

.demo {
	visibility:hidden;
	width:400px;
	height:250px;
	background:#1d1d1d;
	overflow:hidden;
}

.slime {
	width:80px;
	height:50px;
	background-image:url("https://assets.codepen.io/32887/slime.svg");
	background-size:cover;
	position:absolute;
	/* background-color:red; */
	top:100px;
}

.buttonNav {
	padding:20px;
}

button {
	margin-right:10px;
	padding:10px;
}
